@import "tailwindcss";

@theme {
  --font-huninn: 'jf-openhuninn', 'sans-serif';
  --color-brown-400: #71451c;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}